<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>contacts</title>
</head>
<body>
	<section>
		<div class="card mr-3 ml-3">
			<div th:if="${session.msg}" class="conatiner m-3 text-center">

				<div th:classappend="${session.msg.type}" class="alert" role="alert">
					<span th:text="${session.msg.content}"> </span>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

			</div>
			<div class="card-body">
				<h1 class="text-center">Your Contacts</h1>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#ID</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c : ${contacts}">
							<th scope="row" th:text="${'SCMUSER'+c.cid}">1</th>
							<td><img class="profile_img" th:src="@{'/img/'+ ${c.image}}"
								alt="profile" /> <span th:text="${c.name}">ojidh </span></td>
							<td><a th:href="@{'/user/'+${c.cid}+'/contact'}"><span
									th:text="${c.email}"></span></a></td>
							<td th:text="${c.phone}">ioihi</td>
							<td><a style="width: 40px;" href="#"
								th:onClick="|deleteContact(${c.cid})|"
								class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a>
								<div class="container mt-1">
							
								</div>
								<form th:action="@{'/user/update_contact/'+${c.cid}}"
									method="POST">
									<button style="width: 40px;" class="btn btn-success btn-sm">
										<i class="fa-sharp fa-solid fa-user-pen"></i>
									</button>
								</form></td>
						</tr>

					</tbody>
				</table>

				<nav aria-label="Page navigation example">

					<ul class="pagination">

						<li th:if="${currentPage != 0}" class="page-item"><a
							th:href="@{'/user/show_contacts/'+${currentPage-1}}"
							class="page-link" href="#">Previous</a></li>



						<li th:classappend="${currentPage==i-1?'active':''}"
							th:each="i : ${#numbers.sequence(1,totalPages)}"
							class="page-item"><a
							th:href="@{'/user/show_contacts/'+${i-1}}" class="page-link"
							href="#"><span th:text="${i}"></span></a></li>


						<li th:if="${currentPage+1 != totalPages}" class="page-item"><a
							th:href="@{'/user/show_contacts/'+${currentPage+1}}"
							class="page-link" href="#">Next</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</section>
</body>
</html>