<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>About</title>

</head>
<body>
	<section>
		<div class="container">
			<div class="Aboutcard mt-4">
				<div class="AboutcardBody">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Quos enim placeat eaque exercitationem assumenda numquam quam quas
						debitis nesciunt inventore ipsam officiis mollitia sapiente
						voluptatibus incidunt. Autem hic porro minus eum fuga in quis
						necessitatibus quos accusantium vitae soluta error id impedit.
						Temporibus nulla similique dolor sed asperiores reiciendis
						ducimus!</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Hic nostrum ipsam quos maxime assumenda perspiciatis voluptate
						officia. Quam fugiat officiis veniam repellat unde quaerat nemo a
						porro earum sequi voluptatum reprehenderit. Accusantium facilis
						quo eveniet architecto quas provident vero corporis rerum voluptas
						quibusdam dicta quaerat numquam qui iure tempore eum.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Voluptatum tenetur repellat aut nulla at earum dignissimos qui
						quaerat iusto quod recusandae eius velit omnis sapiente mollitia
						perferendis delectus sequi veniam! Iusto id natus deleniti
						accusamus nemo quibusdam voluptatum temporibus modi. Asperiores
						minima ea incidunt recusandae beatae aperiam nulla odio aliquid.</p>
				</div>
			</div>
		</div>
	</section>
</body>
</html>